{
    "nparticle": 2,
    "temperature": 0.04,
    "mode": "train",
    "init_path": "../data/init_config/n2run@@/",
    "filename": "../data/init_config/n2run@@/../n2/n2_nsim_rho0.1T0.04_train_sampled.pt",
    "seed": 23645,
    "DIM": 2,
    "rho": 0.1,
    "nsamples": 2,
    "mcstep": 2,
    "max_energy": 1000.0,
    "DISCARD": 50,
    "interval": 4,
    "dq": 0.03
}