{
    "chk_pt_file": None,
    "train_filename": "../data/training_data/combined/n2rho0.1ts0.001tl0.1_train_sampled.pt",
    "write_chk_pt_filename": "../data/training_checkpoint/n2ts0.001tl0.1.pth",
    "write_loss_filename": "../data/training_loss/n2ts0.001tl0.1.txt",
    "train_pts": 2,
    "seed": 9372211,
    "lr": 0.0001,
    "nepoch": 3,
    "batch_size": 2,
    "MLP_input": 5,
    "MLP_nhidden": 128,
    "activation": "tanh"
}